{{!< default}}
<!-- Hero -->
{{> hero }}
<div class="home">

<!-- keynote -->
{{> keynote}}

<!-- image collage -->
<section class="image-collage">
    <img src="/images/image-colloege.png"/>
</section>

<!-- why attend -->
{{> toexpect}}

<!-- venue -->
{{> venue}}

<!-- sponsors -->
{{> sponsors}}

<!-- footer -->
</div>
