<div class="sponsors-page">
    <div class="background">
        <div class="mask1">
            <div class="mask2">
                {{> navigation }}
            </div>
        </div>
    </div>
    <section>
        <div class="row">
            <div class="small-10 small-centered end">
                <h1>Sponsors<small>.</small></h1>
                <h5 class="level">We Are Proud To Partner With</h5>
                {{#if data.platinum.length }}
                <div class="level-container">
                    <a name="platinum"></a>
                    <h5 class="level">Platinum</h5>
                    <hr>
                    <div class="row medium-centered" data-equalizer data-equalize-by-row="true">
                        {{#each data.platinum}}
                        <div class="medium-6 column" data-equalizer-watch>
                            {{> sponsor}}
                        </div>
                        {{/each}}
                    </div>
                </div>
                {{/if}}
                {{#if data.gold.length }}
                <div class="level-container">
                    <a name="gold"></a>
                    <h5 class="level">Gold</h5>
                    <hr>
                    <div class="row" data-equalizer data-equalize-by-row="true">
                        {{#each data.gold}}
                            <div class="medium-4 small-6 column " data-equalizer-watch>
                                {{> sponsor}}
                            </div>
                        {{/each}}
                    </div>
                </div>
                {{/if}}
                {{#if data.silver.length }}
                <div class="level-container">
                    <a name="silver"></a>
                    <h5 class="level">Silver</h5>
                    <hr>
                    <div class="row" data-equalizer data-equalize-by-row="true">
                        {{#each data.silver}}
                            <div class="medium-4 small-6 column " data-equalizer-watch>
                                {{> sponsor}}
                            </div>
                        {{/each}}
                    </div>
                </div>
                {{/if}}
                {{#if data.bronze.length }}
                <div class="level-container">
                    <a name="bronze"></a>
                    <h5 class="level">Bronze</h5>
                    <hr>
                    <div class="row" data-equalizer data-equalize-by-row="true">
                        {{#each data.bronze}}
                            <div class="medium-4 small-6 column " data-equalizer-watch>
                                {{> sponsor}}
                            </div>
                        {{/each}}
                    </div>
                </div>
                {{/if}}
                {{#if data.community.length }}
                <div class="level-container">
                    <a name="community"></a>
                    <h5 class="level">Community</h5>
                    <hr>
                    <div class="row" data-equalizer data-equalize-by-row="true">
                        {{#each data.community}}
                            <div class="medium-4 small-6 column " data-equalizer-watch>
                                {{> sponsor}}
                            </div>
                        {{/each}}
                    </div>
                </div>
                {{/if}}
                {{#if data.inkind.length }}
                <div class="level-container">
                    <a name="inkind"></a>
                    <h5 class="level">In-kind</h5>
                    <hr>
                    <div class="row" data-equalizer data-equalize-by-row="true">
                        {{#each data.inkind}}
                            <div class="medium-4 small-6 column " data-equalizer-watch>
                                {{> sponsor}}
                            </div>
                        {{/each}}
                    </div>
                </div>
                {{/if}}
            </div>
        </div>
    </section>
</div>

<div class="reveal" id="exampleModal11" aria-labelledby="exampleModalHeader11" data-reveal>
    <div class="row">
        <div class="small-centered small-12 columns">
            <div class="row logo-row">
                <div class="small-centered small-10 columns text-center">
                    <img src="" id="companyLogo" class="thumbnail" alt="company logo"/>
                </div>
            </div>
            <div class="row">
                <div class="small-centered small-12 columns">
                    <div class="sponsor-social-media text-center"></div>
                </div>
            </div>
            <p id="companyDescription"></p>
            <div class="row">
                <div class="small-centered 12 columns text-center">
                    <a href="" target="_blank" class="website button">Visit Website</a>
                </div>
            </div>
        </div>
    </div>
    <button class="close-button" data-close aria-label="Close Accessible Modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
