# package directories
.DS_Store
node_modules
jspm_packages

# SCSS output files
src/assets/css/*.css

public/images/speakers/*
!public/images/speakers/.gitkeep
public/images/sponsors/*
!public/images/sponsors/.gitkeep