<div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="large" data-options="scrolltop: false">
    <button class="menu-icon" type="button" data-open="offCanvas"></button>
    <div class="title-bar-title">Menu</div>
</div>

<div class="top-bar stacked-for-small" id="main-menu" style="">
    <div class="top-bar-menu-wrapper">
        <div class="top-bar-left" style="">
            <div class="row">
                <div class="columns large-1 large-offset-1 show-for-large">
                    <a href="/"><img src="/images/midwest-php-logo.svg" alt="Midwest PHP Logo"></a>
                </div>
                <div class="columns large-7 align-center">
                    <div class="menu-centered">
                        <ul class="menu large-horizontal">
                          {{# each navLinks}}
                            <li>
                              <a href="{{ href }}" {{#ifeq ../section key}}class="active"{{else}}{{/ifeq}}>{{ label }}</a>
                            </li>
                          {{/each}}
                        </ul>
                    </div>
                </div>
                <div class="columns large-2 end">
                    <ul class="menu">
                        <li>
                            <a href="https://twitter.com/midwestphp" target="_blank" class="button hollow">
                                <i class="fi-social-twitter"></i> Follow
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
