<section class="sponsors-container">
    <div class="row">
        <div class="small-centered small-10">
            <div class="clearfix">
                <div class="float-left">
                    <h3>Our Sponsors
                        <small>.</small>
                    </h3>
                    <p>We are proud to partner with these amazing companies</p>
                </div>
                <a href="/sponsors" class="button hollow float-right">All Sponsors</a>
            </div>
            <div class="row small-up-2 medium-up-5 large-up-5">
                {{#each data.sponsors}}
                <div class="column">
                    <div class="dummy"></div>
                    <div class="img-container thumbnail">
                        <div class="centerer"></div>
                        <a href="/sponsors">
                        {{#if logo.url}}
                        <img class="logo-container" src="{{logo.url}}" alt="{{comapny}} logo">
                        {{else}}
                        <img class="logo-container" src="https://dummyimage.com/250x250/fefefe/173249.png&text=Missing+Image" alt="{{company}} logo">
                        {{/if}}
                        </a>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</section>
