---
headerPartial: homepage-header
---
    <section class="container-fluid background-light">
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <h2 class="text-center">Keynote Speakers</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-sm text-center">
            <p><img src="img/speakers/jessica-mauerhan.jpg" class="rounded-circle"></p>
            <h3>Jessica Mauerhan</h3>
            <h4>RTFM</h4>
            <button class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="bottom" title="RTFM" data-content="
              There is a stereotype of programmers as being antisocial and difficult, and unfortunately many of us take
              on this attitude as if it comes with the job - but it doesn't have to be this way! I know it from
              experience, because I've been an angry, judgemental know-it-all, and I'm ready to tell you how I
              completely changed my attitude and refactored my life. In this talk I'll explain how anger and fear are
              the root causes of our aggressive behavior, how these feelings manifest as judgemental comments online,
              bullying in the workplace and ultimately keep the tech community toxic and stunted. I'll show you how
              embracing compassion, respect, and empathy will make you a better programmer and a happier person.
            ">Talk Details</button>
          </div>
          <div class="col-sm text-center">
            <p><img src="img/speakers/matt-trask.jpg" class="rounded-circle"></p>
            <h3>Matt Trask</h3>
            <h4>Mental Health and You</h4>
            <button class="btn btn-secondary" data-conatiner="body" data-toggle="popover" data-placement="bottom" title="Mental Health and you"
              data-content="
              A few years ago, Ed Finkler got the conversation going about working in tech with mental health issues.
              Today we are keeping the dream alive with OSMI, pushing forward helping people understand what's out
              there in the way of help and understanding. We will look at stats, stories, and more as we work through
              some tough issues.
            ">Talk Details</button>
          </div>
          <div class="col-sm text-center">
            <p class="text-center"><img src="img/speakers/larry-garfield.jpg" class="rounded-circle"></p>
            <h3 class="text-center">Larry Garfield</h3>
            <h4 class="text-center">Free Software: It's Not About The License</h4>
            <button class="btn btn-secondary" data-conatiner="body" data-toggle="popover" data-placement="bottom" title="Free Software: It's Not About The License"
              data-content="
              Free Software. Open Source. Software Freedom. Free as in Speech or Free as in Beer? We're all familiar
              with the buzzwords, the catchphrases, and slogans. We all know the &quot;GPL vs BSD&quot; debate, and have
              probably participate in it at some point. But what do they mean, really? Is Open Source really just a
              friendlier name for Free Software, or is there something more to it? Yes. Yes there is. Free Software,
              at its core, is a philosophical, cultural, and political movement. It is a part of, and inspiration for,
              the Free Culture movement. A movement born of a simple belief: That you should have control of your own
              digital destiny, and that it is immoral to deprive people of that right. Let's try to recollect where our
              community came from, and the principles upon which it was founded.
            ">Talk Details</button>
          </div>
        </div>
      </div>
    </section>
    <section class="container-fluid background-dark">
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <h3>Midwest PHP Conference</h3>
            <p>The Midwest PHP Conference is hosted by the Minnesota PHP User Group community through the North Foundation
              in Bloomington, Minnesota from March 8th - 9th, 2019.  This is our seventh year and each year the conference
              continues to become better.  Our goal is to share best practices, ideas, and techniques about building
              state-of-the-art software applications.</p>
            <p>We <strong>invite you</strong> to join us during this 2 day conference to continue to build on your career!
              We have something for each and every level of PHP developer and hope that you will join us!</p>
          </div>
          <div class="col-sm">
            <h3>What's Included</h3>
            <p>Your ticket comes with a lot more than just entrance to the conference. You'll also get free breakfast and
              lunch each day! Tickets do NOT include a hotel stay, you must book that separately. We highly suggest staying
              at the Radisson Blue Mall of America. We have a block of rooms at a discounted price.</p>
          </div>
        </div>
      </div>
    </section>
    <section id="venue" class="container-fluid background-light">
      <div class="container">
        <div class="row">
          <div class="col">
            <h3 id="venue">Venue</h3>
            <p>The conference is at the Radisson Blu Mall of America in Bloomington, Minnesota. We can't think of a
              better place to connect with friends, old and new, than in a relaxed environment with entertainment at
              your front door.</p>
            <p>2100 Killebrew Dr, Bloomington, MN 55425<br>952.881.5258</p>
            <a class="btn btn-primary" href="https://bit.ly/2OBFXKi">Book Your Room Now</a>
          </div>
          <div class="col venue-img"></div>
        </div>
      </div>
    </section>
