      <section class="container">
        <div class="hero">
          <h1>Midwest PHP 2019</h1>
          <p>Coming to Bloomington, MN March 8th and 9th, 2019</p>
        </div>
        <div class="row">
          <div class="col-sm">
            <h2>Tickets</h2>
            <p>Get your tickets as early as possible to save more and ensure that we do not sell out.  Our tickets are
              affordable for your entire team.</p>
            <a class="btn btn-primary" target="_blank" href="https://www.eventbrite.com/e/2019-midwest-php-conference-tickets-50933616819#tickets">Purchase Now</a>
          </div>
          <div class="col-sm">
            <h2>Call for Sponsors</h2>
            <p>Midwest PHP cannot happen without your help!  We're currently seeking sponsorship for our annual
              conference.</p>
            <a class="btn btn-primary" href="pdf/prospectus.pdf">See Opportunities</a>
          </div>
        </div>
      </section>
